// Defaults
$border-radius: 6px;

// Faraway
$faraway-color-background-1: #e9dfc9;
$faraway-color-background-2: #fffdf8;
$faraway-color-background-3: #ef3800;
$faraway-color-border-1: #b8a98f;
$faraway-color-border-2: #7a1616;
$faraway-color-font-1: #3a2f1b;
$faraway-color-font-2: white;
