// Defaults
$default-border-radius: 6px;
$default-font-color: #3a2f1b;

// Faraway
$faraway-color-background-default: #fafafa;
$faraway-color-background-sanctuary-score: #eceef1;
$faraway-color-background-total-score: #e8401a;
$faraway-color-border-default: #c8cdd4;
$faraway-color-font-default: #1a1a1a;
$faraway-color-font-total-score: #ffffff;
